<div class="flex justify-center items-center" x-cloak x-show="loading">
    <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-blue-500 dark:border-blue-400"></div>
    {% if message is defined %}
        <span class="ml-3 text-gray-600 dark:text-gray-400">{{ message }}</span>
    {% endif %}
</div>